body{background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto,cover;
    font-family: 'Spartan', sans-serif;
    padding: 80px 100px 0 100px;
}

.main {
    display: flex;
}

.about1, .about2 {
    width: 50%;
}


.about2 {
    display: flex;
    flex-direction: column;
}

h2{
    text-align: left;
    font-size: 35px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px;
}

h4{
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    margin: 0px 0px;
}

#about{
    color: hsl(303, 10%, 53%);
    text-align: left;
    margin-top: 5px;
}

.rate1, .rate2, .rate3{
    width: 80%;
    font-size: 15px;
    margin: 15px;
    padding-top: 15px;
    height: 70px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    text-align: center;
}

.rate2 {
    align-self: center;
}

.rate3 {
    align-self: flex-end;
}

.second {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    height: 350px;
}

.report{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.bloc{
    height: auto;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 30px;
    width: 25%;
    align-self: flex-start;
}

.bloc:nth-child(0n+2) {
    align-self: center;
}

.bloc:last-child {
    align-self: flex-end;
}

.pp-container{
    display: flex;
    align-items: center;
}

.pp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 20px 20px 20px 5px;
}

.review{
    margin: 0px;
    color: #fff;
    font-weight: 400;
}

.attribution {
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 1000px){

    body{
        background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
        background-repeat: no-repeat;
        width: 350px;
        margin: 0 auto;
        padding: 0;
    }

    br {
        display: none;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about1{
        width: auto;
        padding: 40px 0;
    }

    .about2{
        width: auto;
    }

    .bloc {
        height: auto;
        margin-bottom: 20px;
        width: 100%;
        align-self: center;
    }

    .bloc:last-child {
        align-self: center;
    }

    h2{
        font-size: 50px;
        text-align: left;
        margin: 0px;
        margin-bottom: 15px;
    }

    #about{
        text-align: left;
        margin: 0px;
    }

    .rate1, .rate2, .rate3{
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .stars{
        flex: auto;
    }

    .report{
        flex: auto;
    }

    .second{
        height: auto;
        display: flex;
        flex-direction: column;
    }
}